@import "../_mixin";

.container {
  margin: 0 auto;
  position: relative;
  @include screen-small {
    max-width: 738px;
  }
  @include screen-medium {
    max-width: 972px;
  }
  @include screen-large {
    max-width: 1180px;
  }
}
