.pagination-provider {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
  }
  &__page {
    width: 48px;
    height: 48px;
    font-size: 16px;
    line-height: 46px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #f1f1f1;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
    &.active {
      background-color: #3a80ba;
      border-color: #3a80ba;
      color: #ffffff;
    }
    &--prev,
    &--next {
      border: none;
      &:before {
        content: '';
        display: block;
        background: url('../../../assets/chevron-right.svg') no-repeat center;
        width: 15px;
        height: 48px;
        margin-left: 16px;
      }
      &.active {
        background-color: #ffffff;
        &:before {
          content: '';
          background: url('../../../assets/chevron-right-filled.svg') no-repeat center;
        }
      }
    }
    &--prev {
      transform: rotate(180deg);
      margin-left: 0;
    }
  }
}
