@import "../../_mixin";
// Impelemted Mobile First Approach ... cause I like it more.
// I.E. default styles between {} is for screen-tiny

// Screen 1
main {
  position: relative;
  @include screen-large {
    width: 1440px;
    margin: 0 auto;
  }
}
.header {
  background: url(../../../assets/waves-header.png) top left no-repeat;
  background-size: cover;
  &__logo {
    color: #ffffff;
    font-size: 63px;
    line-height: 73px;
    padding: 12px 0;
    font-size: 40px;
    line-height: 49px;
    @include screen-medium {
      padding: 24px 0;
    }
  }
  @include screen-small {
    // background: linear-gradient(95.82deg, #255d8b 1.6%, #3a80ba 96.44%);
  }
}
.first-cta {
  display: flex;
  justify-content: space-between;
  &__title {
    color: #ffffff;
    font-weight: normal;
    font-size: 40px;
    line-height: 51px;
    margin: 10px 0;
    text-align: left;
    @include screen-medium {
      margin: 24px 0;
    }
    @include screen-large {
      font-size: 48px;
      line-height: 59px;
    }
  }
  &__left-part {
    flex: 1 0 100%;
    @include screen-medium {
      flex: 1 0 50%;
    }
  }
  &__right-part {
    flex: 1 0 100%;
    text-align: center;
    margin-top: 50px;
    display: none;
    @include screen-medium {
      flex: 1 0 50%;
      text-align: right;
      display: block;
    }
  }
  &__description {
    color: #ffffff;
    font-size: 20px;
    line-height: 142%;
    font-weight: normal;
    @include screen-small {
      text-align: left;
      width: 700px;
    }
    @include screen-medium {
      margin-bottom: 32px;
      width: auto;
    }
  }
  @include screen-small {
    flex-flow: column;
  }
  @include screen-medium {
    flex-flow: row;
  }
}

// Screen 2
.advantages {
  color: #1a1a1a;
  text-align: center;
  &__title {
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    @include screen-small {
      margin-top: 80px;
    }
    @include screen-medium {
      width: 535px;
      margin: 16px auto 24px;
    }
  }
  &__description {
    color: #7e7e7e;
    font-size: 20px;
    line-height: 142%;
    font-weight: normal;
    @include screen-small {
      max-width: 100%;
      margin-bottom: 80px;
    }
    @include screen-medium {
      max-width: 780px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }
}
.card-container {
  display: flex;
  margin-bottom: 80px;
  flex-direction: column;
  align-items: center;
  @include screen-medium {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

// Screen 3
.second-cta {
  background: linear-gradient(93.19deg, #255d8b 2.29%, #3a80ba 96.79%);
  &__inner {
    display: flex;
    @include screen-small {
      flex-direction: column;
      align-items: center;
    }
    @include screen-medium {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__left-part {
    color: #ffffff;
    flex: 1 0 100%;
    @include screen-medium {
      flex: 1 0 50%;
    }
  }
  &__right-part {
    position: relative;
    flex: 1 0 100%;
    display: none;
    @include screen-medium {
      display: block;
      flex: 1 0 50%;
      text-align: right;
      top: 27px;
      &--preview {
        height: 300px;
      }
    }
    @include screen-large {
      top: -27px;
      &--preview {
        height: auto;
      }
    }
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    margin-top: 50px;
    @include screen-medium {
      margin-top: 26px;
      font-size: 32px;
      line-height: 39px;
    }
  }
  &__description {
    font-weight: normal;
    font-size: 24px;
    line-height: 142%;
    margin-bottom: 50px;
    @include screen-medium {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }
  &__button {
    width: 172px; // 220 - paddings
    font-size: 22px;
    @include screen-medium {
      font-size: 16px;
    }
  }
  @include screen-small {
    height: 450px;
  }
  @include screen-medium {
    height: 327px;
    border-top: 45px solid #ffffff;
  }
  @include screen-large {
    height: 400px;
  }
}

// Screen 4
.chose-plan {
  position: relative;
  margin-top: 60px;
  padding-top: 20px;
  text-align: center;
  &__wrapper {
    @include screen-small {
      flex-direction: column;
      align-items: center;
    }
    @include screen-large {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__decoration {
    display: none;
    @include screen-medium {
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
    }
  }
  &__title {
    font-size: 32px;
    line-height: 39px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 24px;
  }
  &__description {
    color: #7e7e7e;
    font-size: 20px;
    line-height: 142%;
    font-weight: normal;
    margin-bottom: 32px;
  }
  &__contact {
    font-size: 20px;
    line-height: 142%;
    text-align: center;
    padding: 32px 0 48px;
    color: #7e7e7e;
    &--link {
      font-weight: bold;
      text-decoration: none;
      color: #3a80ba;
    }
  }
}

// Footer
.footer {
  background: url(../../../assets/waves-footer.png) top left no-repeat;
  background-size: cover;
  &__subscribe {
    padding-top: 26px;
    text-align: center;
    font-size: 16px;
    &--wrapper {
      display: flex;
      background: #ffffff;
      border: 1px solid #f1f1f1;
      box-sizing: border-box;
      border-radius: 10px;
      width: 60%;
      @include screen-medium {
        justify-content: space-between;
        width: 580px;
        margin: 0 auto;
      }
    }
    &--input {
      outline: none;
      border: none;
      line-height: 162%;
      color: #b9b9b9;
      border-radius: 10px;
      @include screen-small {
        font-size: 30px;
      }
      @include screen-medium {
        padding: 19px;
        font-size: 16px;
      }
    }
    &--button {
      background-color: #3a80ba;
      color: #ffffff;
      margin: 4px;
      @include screen-medium {
        width: 176px;
      }
    }
  }
  &__info {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    margin-top: 24px;
    align-items: center;
    &--logo {
      font-size: 32px;
      line-height: 39px;
    }
    &--terms,
    &--copyright {
      line-height: 142%;
      font-size: 16px;
    }
  }
  @include screen-small {
    // background: linear-gradient(95.82deg, #255d8b 1.6%, #3a80ba 96.44%);
    padding: 20px 0 30px;
  }
}
