main {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}
.header-waves {
  position: absolute;
  z-index: 0;
}
.header {
  padding: 24px 0;
  &__logo {
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
  }
}
.button {
  border-radius: 8px;
  border: none;
  text-align: center;
  padding: 17px 24px;
  text-decoration: none;
  &--light {
    color: #3a80ba;
    background: #ffffff;
  }
}

.first-cta {
  display: flex;
  justify-content: space-between;
  &__left-part {
    flex: 1 0 50%;
    &__title {
      color: #ffffff;
      font-size: 48px;
      line-height: 59px;
      font-weight: normal;
      & > strong {
        font-weight: bold;
      }
    }
  }
  &__right-part {
    flex: 1 0 50%;
    text-align: right;
  }
  &__description {
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    margin-bottom: 50px;
  }
}

.advantages {
  color: #1a1a1a;
  text-align: center;
  &__title {
    font-size: 32px;
    line-height: 39px;
    font-weight: normal;
    & > strong {
      font-weight: bold;
    }
  }
  &__description {
    color: #7e7e7e;
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    margin-bottom: 40px;
  }
}
