@import "../../_mixin";

.plan-card {
  display: flex;
  flex-flow: column wrap;
  border: 2px solid #f1f1f1;
  padding-bottom: 40px;
  margin-bottom: 50px;
  flex: 1 0 calc(60% - 40px);
  &:nth-child(2) {
    color: #3a80ba;
    border: none;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    & .plan-card__price {
      font-size: 56px;
      line-height: 68px;
      margin-bottom: 30px;
    }
    @include screen-large {
      & .plan-card__price:after {
        top: -51px;
      }
    }
  }
  &__left-part {
    @include screen-small {
      flex: 1 0 50%;
    }
    @include screen-large {
      flex: 1 0 100%;
      margin-bottom: 16px;
    }
  }
  &__right-part {
    @include screen-small {
      flex: 1 0 50%;
      display: flex;
      flex-flow: column;
    }
    @include screen-large {
      flex: 1 0 100%;
      display: block;
    }
  }
  &__title {
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 29px;
    @include screen-small {
      flex: 1 0 100%;
    }
  }
  &__description {
    font-size: 16px;
    line-height: 162%;
    color: #7e7e7e;
    @include screen-small {
      order: 1;
      text-align: left;
      margin-bottom: 50px;
    }
    @include screen-large {
      margin-top: 24px;
      text-align: center;
    }
  }
  &__price {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    order: 2;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 36px;
    &:after {
      content: "";
      position: relative;
      top: -37px;
      height: 0;
      width: 250px;
      margin: 0 auto;
      display: block;
      @include screen-large {
        content: url(../../../assets/line.png);
      }
    }
    @include screen-large {
      order: 1;
      width: auto;
    }
  }
  &__button {
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    order: 3;
    font-size: 16px;
    @include screen-large {
      order: 1;
      width: 220px;
    }
  }
  @include screen-small {
    flex: 1 0 100%;
    flex-flow: row wrap;
  }
  @include screen-large {
    flex: none;
    width: 380px;
    display: block;
    margin-bottom: 0px;
  }
}
